apiVersion: 1

datasources:
  - name: prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: false
    editable: true

  - name: postgres
    type: postgres
    access: proxy
    url: postgres:5432
    database: predictive_maintenance
    user: postgres
    password: postgres
    isDefault: true
    editable: true
    jsonData:
      sslmode: disable
      maxOpenConns: 0
      maxIdleConns: 2
      connMaxLifetime: 14400
      postgresVersion: 1300
      timescaledb: false
